<div class="row">
  <% if top_venues.any? %>
    <div class="span5">
    <h5><div class="top-venue">Top venues</div></h5>
    <ol>
      <% top_venues.first(10).each do |response| %>
        <li><%= response['object']['displayName'] %>: <%= pluralize(response['times']) %></li>
      <% end %>
    </ol>
    </div>
  <% end %>

  <% if top_metro_areas.any? %>
    <div class="span4">
    <h5><div class="top-venue">Top locations</div></h5>
      <ol>
        <% top_metro_areas.first(10).each do |response| %>
          <li><%= response['object']['displayName'] %>: <%= pluralize(response['times']) %></li>
        <% end %>
      </ol>
    </div>
  <% end %>

  <% if top_festivals.any? %>
    <div class="span5">
    <h5><div class="top-venue">Top festivals</div></h5>
      <ol>
        <% top_festivals.first(10).each do |response| %>
          <li><%= response['object']['displayName'] %>: <%= pluralize(response['times']) %></li>
        <% end %>
      </ol>
    </div>
   <% end %>
</div>