<div class="row">
  <div class="col-sm-8">
    <h2>
    <img class="thumbnail" src="<%= @artist.image %>" alt="<%= @artist.name %>" text="<%= @artist.name %>" style="display:inline-block">
    <span><%= @artist.name %>’s lively <%= params['year'].to_i > 0 ? params['year'] : 'history' %></span>
    </h2>
  </div>

  <div class="col-sm-6 stats">
    <span><%= pluralize(@events.size, 'concert') %><% if params['year'].to_i > 0 %> this year<% end %></span>
    <% if params['year'].to_i > 0 %>
      <span class="percentage"><%= "%.2f" % ((@events.size.to_f/@total_events)*100.0) %>% of <%= @total_events %></span>
    <% else %>
      <span class="percentage">On tour since <%=(@events.first['start']['date']).split('-').first %></span>
    <% end %>
    <%#= erb :_venue_stats %>
  </div>
</div>

<%= erb :_no_events if @events.empty? %>

<%= erb :_map, :locals => {:latlngs => @latlngs} %>

<%= erb :_top_locations, :locals => {:top_festivals => @top_festivals, :top_venues => @top_venues, :top_metro_areas => @top_metro_areas} %>

<%= erb :_artists, :locals => {:artists => @top_artists} %>
