<h2>
  <img class="thumbnail" src="<%= @artist.image %>" alt="<%= @artist.name %>" text="<%= @artist.name %>">
  <span><%= @artist.name %>’s lively <%= params['year'].to_i > 0 ? params['year'] : 'history' %></span>
</h2>

<div class="row">
  <div class="span8 histogram">
    <ol class="top-terms">
    <% @top_terms.first(10).each_with_index do |term, index| %>
      <li class="term<%= index < 3 ? 1 : (index < 7 ? 2 : 3) %>"><%= term.first %></li>
    <% end %>
    </ol>
  </div>

  <div class="span6 stats">
    <span><%= pluralize(@events.size, 'concert') %><% if params['year'].to_i > 0 %> this year<% end %></span>
    <% if params['year'].to_i > 0 %>
      <span class="percentage"><%= "%.2f" % ((@events.size.to_f/@total_events)*100.0) %>% of <%= @total_events %></span>
    <% else %>
      <span class="percentage">On tour since <%=(@events.first['start']['date']).split('-').first %></span>
    <% end %>
    <%#= erb :_venue_stats %>
  </div>
</div>

<%= erb :_no_events if @events.empty? %>

<%= erb :_map, :locals => {:latlngs => @latlngs} %>

<%= erb :_top_locations, :locals => {:top_festivals => @top_festivals, :top_venues => @top_venues, :top_metro_areas => @top_metro_areas} %>

<%= erb :_artists, :locals => {:artists => @top_artists} %>
