<h1><%= params['username'] %>’s lively <%= params['year']%></h1>

<div class="row">
  <div class="span6 stats">
    <span><%= pluralize(@events.size, 'concert') %> this year</span>
    <span><%= "%.2f" % ((@events.size.to_f/@total_events)*100.0) %>% of <%= @total_events %></span>
  </div>
  <div class="span8 histogram">
    <ol class="top-terms">
    <% @top_terms.first(10).each_with_index do |term, index| %>
      <li class="term<%= index < 3 ? 1 : (index < 7 ? 2 : 3) %>"><%= term.first %></li>
    <% end %>
    </ol>
  </div>
</div>

<% if @events.size.zero? %>
  <div>
    <img align="middle" src="/images/sadkitten.png" text="I’m sad" alt="sad kitten :(">
  </div>
<% end %>

<ol class="media-grid">
  <% @top_artists.first(24).each do |artist| %>
    <li class="artist-image">
      <span class="artist-image">
        <img class="thumbnail" onhover="" src="<%= artist.image %>" alt="<%= artist.name + ": #{pluralize(artist.num_times)}" %>" text="<%= artist.name + ": #{pluralize(artist.num_times)}" %>">
      </span>
    </li>
  <% end %>
</ol>

<div class="row">
  <h5><div class="artist-name">&nbsp;</div></h5>
</div>

<div class="row">
<div id="map"></div>
</div>

<div class="row">
<h5><div class="distance">
  <% if @distance_in_km > 0 %><%= "%.2f" % @distance_in_km.to_f %>km travelled — that’s <%= "%.2f" % @duration_in_days.to_f %> days walking<% end %>
</div></h5>
</div>

<div class="row">
  <% if @top_venues.any? %>
    <div class="span5">
    <h5><div class="top-venue">Top venues</div></h5>
    <ol>
      <% @top_venues.first(10).each do |venue, count| %>
        <li><%= venue %>: <%= pluralize(count.first) %></li>
      <% end %>
    </ol>
    </div>
  <% end %>

  <% if @top_cities.any? %>
    <div class="span4">
    <h5><div class="top-venue">Top cities</div></h5>
      <ol>
        <% @top_cities.first(10).each do |city, count| %>
          <li><%= city %>: <%= pluralize(count.first) %></li>
        <% end %>
      </ol>
    </div>
  <% end %>

  <% if @top_festivals.any? %>
    <div class="span5">
    <h5><div class="top-venue">Top festivals</div></h5>
      <ol>
        <% @top_festivals.first(10).each do |festival, count| %>
          <li><%= festival %>: <%= pluralize(count) %></li>
        <% end %>
      </ol>
    </div>
   <% end %>
</div>

<script>
$(".artist-image img").hover(
  function () {
    $('div.artist-name').html($(this).attr('text'));
  }
);

</script>
