<div class="row" style="margin-bottom:20px;margin-top:20px">
  <div class="span4">
    <script type="text/javascript" src="/javascripts/person.js"></script>
    <div id="person" style="float:left;">
      <img src="/images/girl.png" />
    </div>
    <div id="key">
    </div>
  </div>
  <div class="span7">
    <h2 style="text-align:right"><%= params['username'] %>’s lively <%= params['year'].to_i > 0 ? params['year'] : 'history' %></h2>
    <div class="stats">
      <span><%= pluralize(@events.size, 'concert') %><% if params['year'].to_i > 0 %> this year<% end %></span>
      <% if params['year'].to_i > 0 %>
        <span class="percentage"><%= "%.2f" % ((@events.size.to_f/@total_events)*100.0) %>% of <%= @total_events %></span>
      <% else %>
        <span class="percentage">On tour since <%=(@events.first['start']['date']).split('-').first %></span>
      <% end %>
      <%#= erb :_venue_stats %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8">
    <ol class="top-terms">
    <% @top_terms_percentages.each_with_index do |term, index| %>
      <li class="term<%= term.last.to_s.gsub('.', '_')%>"><%= term.first %></li>
    <% end %>
    </ol>
  </div>
</div>

<%= erb :_no_events if @events.empty? %>

<%= erb :_artists, :locals => {:artists => @top_artists} %>

<%= erb :_top_locations, :locals => {:top_festivals => @top_festivals, :top_venues => @top_venues, :top_metro_areas => @top_metro_areas} %>

<%= erb :_map, :locals => {:latlngs => @latlngs} %>

