<div class="row" style="margin-bottom:20px">
  <div class="span4">
    <script type="text/javascript" src="http://www.delta-9.net/musichackday/person.js"></script>
    <div id="person" style="float:left;">
      <img src="/images/<%= params['p'] == 'f' ? 'girl' : 'boy' %>.png" />
    </div>
    <div id="key">
    </div>
  </div>
  <div class="span10">
    <h1 style="text-align:right"><%= params['username'] %>’s lively <%= params['year'] ? params['year'] : 'history' %></h1>
    <div class="stats">
      <span><%= pluralize(@events.size, 'concert') %><% if params['year'] %> this year<% end %></span>
      <% if params['year'] %><span class="percentage"><%= "%.2f" % ((@events.size.to_f/@total_events)*100.0) %>% of <%= @total_events %></span><% end %>
      <%= erb :_venue_stats, :locals => {:smallest_venues => @smallest_venues, :biggest_venues => @biggest_venues} %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8 histogram">
    <ol class="top-terms">
    <% @top_terms_percentages.each_with_index do |term, index| %>
      <li class="term<%= term.last.to_s.gsub('.', '_')%>"><%= term.first %></li>
    <% end %>
    </ol>
  </div>
</div>

<%= erb :_no_events if @events.empty? %>

<%= erb :_artists, :locals => {:artists => @top_artists} %>

<%= erb :_top_locations, :locals => {:top_festivals => @top_festivals, :top_venues => @top_venues, :top_metro_areas => @top_metro_areas} %>

<%= erb :_map, :locals => {:latlngs => @latlngs} %>

